body{
    background: #f8f8f8;
}
.R_separate{
	height: 60px;
	width: 100%;
	background: #f8f8f8;
}
#loginDiv{
	height: 500px;
	width: 600px;
	border:1px solid;
	margin-left: 450px;
}
#titleBar{
	margin-left: 182px;
    margin-top: 40px;
	height: 38px;
    width: 142px;
	background-color:red;
}
.user{
    height: 36px;
    width: 69px;
	border:1px solid;
	float: left;
}

.showinfo{
	height: 300px;
	widows: 400px;
	border:1px solid;

}
